<style type="text/css">
    .list-directories-item.active {
        color: #000;
    }
    .list-directories-item > span {
        padding-right: 12px;
    }
    #spider-log {
        height: 200px;
        overflow-y: auto;
    }
    div[ng-controller="validationController"] > div.cell {
        height: 300px!important;
    }
    #validation-data {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .place-bottom {
        bottom: 0px;
        position: absolute;
    }
    .listview-outlook .list.marked-warning .list-content {
        border-left: 3px #FFCC00 solid;
    }
    .listview-outlook .list.marked-danger .list-content {
        border-left: 3px #FF3C00 solid;
    }
    div.panel > div.heading > button.place-right {
        margin-right: 8px;
        margin-top: 2px;
        height: 1.1rem;
    }
    .list-group-toggle {
        background-color: #D0D0D0 !important;
    }
    .list-group-content.list-group > div > .list-group-toggle {
        background-color: #E8E8E8 !important;
        padding-left: 35px;
    }
    .list-group-content.list-group .list-subtitle {
        padding-left: 25px;
    }
    .directories-list-group > span.list-group-toggle {
        background-color: unset !important;
    }
</style>
<div id="sub-container">
    <div class="grid">
        <div class="row cells2">
            <div class="cell">
                <div class="listview" data-role="listview" ng-controller="directoriesController">
                    <div class="list-group directories-list-group">
                        <span class="list-group-toggle">Peliculas</span>
                        <div class="list-group-content">
                            <div class="list list-directories-item" ng-repeat="(directory, timestamp) in getDirectories('movies')">
                                <span class="mif-folder-open mif-2x"></span>{{directory}}
                            </div>
                        </div>
                    </div>
                    <div class="list-group directories-list-group">
                        <span class="list-group-toggle">Series</span>
                        <div class="list-group-content">
                            <div class="list list-directories-item" ng-repeat="(directory, timestamp) in getDirectories('tvshows')">
                                <span class="mif-folder-open mif-2x"></span>{{directory}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="grid">
                    <div class="row" ng-controller="validationController">
                        <div class="cell" data-role="preloader" data-type="cycle" ng-show="auto"></div>
                        <div class="cell" ng-show="!auto && !pending">
                            <h2>Hecho</h2><hr>
                            <h4>Se han reconocido todos los archivos.</h4>
                            <br><br>
                            <center><span class="mif-thumbs-up mif-4x"></span></center>
                        </div>
                        <div class="cell" ng-show="!auto && pending && !pending.sugestions[index]">
                            <h3>{{pending.local.title || pending.local.name}}</h3><hr>
                            <div class="input-control text full-size" data-role="input">
                                <input type="text" placeholder="busca por otro nombre..." ng-model="otherName">
                                <button class="button" ng-click="reSearch(pending.type)"><span class="mif-search"></span></button>
                            </div>
                        </div>
                        <div class="cell" ng-show="pending.sugestions[index]">
                            <div class="grid">
                                <div class="row cells2">
                                    <div class="cell">
                                        <img ng-src="https://image.tmdb.org/t/p/w185/{{pending.sugestions[index].poster_path}}">
                                    </div>
                                    <div id="validation-data" class="cell">
                                        <center>API</center>
                                        <ul>
                                            <li>Titulo: {{pending.sugestions[index].title || pending.sugestions[index].name}}</span></li>
                                            <li ng-show="pending.type == 'movie'">Año: {{pending.sugestions[index].release_date}}</span></li>
                                        </ul>
                                        <hr/>
                                        <center>Local</center>
                                        <ul>
                                            <li>Titulo: {{pending.local.title || pending.local.name}}</li>
                                            <li ng-show="pending.type == 'movie'">Año: {{pending.local.year}}</li>
                                        </ul>
                                        <div class="row place-bottom">

                                            <!-- Next & Prev Sugestion -->

                                            <button class="button" ng-disabled="index <= 0" ng-click="prevSugestion()"><span class="mif-arrow-left"></span></button>
                                            <button class="button" ng-disabled="index >= pending.sugestions.length - 1" ng-click="nextSugestion()"><span class="mif-arrow-right"></span></button>

                                            <!-- Show Search -->

                                            <button class="button" ng-click="showSearch()"><span class="mif-search"></span></button>

                                            <!-- Validate Movie -->

                                            <button class="button success place-right" ng-click="getMovie(pending.sugestions[index].id, resolve)" ng-show="pending.type == 'movie'" ng-disabled="pending.working">Validar</button>

                                            <!-- Validate TVShow -->

                                            <button class="button success place-right" ng-click="getTvShow(pending.sugestions[index].id, resolve)" ng-show="pending.type == 'tvshow'" ng-disabled="pending.working">Validar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <div class="panel" ng-controller="spiderController" ng-init="init()">
                                <div class="heading">
                                    <span class="icon mif-list"></span>
                                    <span class="title">Log</span>
                                    <label class="switch-original place-right">
                                        <input id="spider-log-only-fails" type="checkbox" ng-model="hideOK">
                                        <span class="check"></span>
                                    </label>
                                    <button class="button small-button place-right" ng-click="init()"><span class="mif-loop2"></span></button>
                                </div>
                                <div id="spider-log" class="listview-outlook" data-role="listview">
                                    
                                    <!-- Log Movies -->
                                    
                                    <div class="list-group log-group collapsed" ng-repeat="(directory, group) in moviesLog">
                                        <span class="list-group-toggle">{{directory}}
                                            <span class="place-right span-counter {{group.error ? 'fg-red' : (group.warns ? 'fg-amber' : (group.oks ? 'fg-green' : ''))}}">{{group.error ? 'Inacesible' : (group.warns ? group.warns + ' avisos' : (group.oks ? group.oks + ' OK' : 'Vacio'))}}</span>
                                        </span>
                                        <div class="list-group-content">

                                            <!-- ForEach Movie -->

                                            <div class="list {{entry.error ? 'marked-danger' : (entry.warn ? 'marked-warning' : '')}}" ng-hide="hide{{ entry.warn || entry.error ? '' : 'OK' }}" ng-repeat="entry in group.movies">
                                                <div class="list-content">
                                                    <span class="list-subtitle">{{entry.error ? 'Inaccesible' : entry.name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Log TvShows -->
                                    
                                    <div class="list-group log-group collapsed" ng-repeat="(directory, group) in tvshowsLog">
                                        <span class="list-group-toggle">{{directory}}
                                            <span class="place-right span-counter {{group.error ? 'fg-red' : (group.warns ? 'fg-amber' : (group.oks ? 'fg-green' : ''))}}">{{group.error ? 'Inacesible' : (group.warns ? group.warns + ' avisos' : (group.oks ? group.oks + ' OK' : 'Vacio'))}}</span>
                                        </span>

                                        <div class="list-group-content {{group.error ? '' : 'list-group'}}">

                                            <!-- Error message -->

                                            <div class="list marked-danger" ng-show="group.error">
                                                <div class="list-content">
                                                    <span class="list-subtitle">Inaccesible</span>
                                                </div>
                                            </div>

                                            <!-- ForEach TvShow -->
                                            
                                            <div ng-show="!group.error" ng-hide="hide{{ tvshow.warns ? '' : 'OK'}}" ng-repeat="tvshow in group.tvshows">
                                                <span class="list-group-toggle">{{tvshow.name}}
                                                    <span class="place-right span-counter {{tvshow.error ? 'fg-red' : (tvshow.warns ? 'fg-amber' : (tvshow.oks ? 'fg-green' : ''))}}">{{tvshow.error ? 'Inacesible' : (tvshow.warns ? tvshow.warns + ' avisos' : (tvshow.oks ? tvshow.oks + ' OK' : 'Vacio'))}}</span>
                                                </span>
                                                <div class="list-group-content collapsed">

                                                    

                                                    <!-- ForEach Season -->

                                                    <div class="list {{season.warn ? 'marked-danger' : ''}}" ng-repeat="season in tvshow.seasons">
                                                        <div class="list-content">
                                                            
                                                            <!-- Error message -->

                                                            <span class="list-subtitle" ng-show="season.warn">{{season.name}}</span>

                                                            <span class="list-subtitle" data-role="popover" data-popover-mode="click" data-popover-shadow="true" data-popover-position="left" data-popover-text="Unmatched files:<br/>{{season.episodesError.join('<br/>')}}" data-popover-background="bg-grayLighter" data-popover-color="fg-grayDarker" ng-show="!season.warn">Temporada {{season.number}}
                                                                <span class="place-right span-counter {{season.error ? 'fg-red' : (season.warns ? 'fg-amber' : (season.oks ? 'fg-green' : ''))}}">{{ season.warns ? season.warns + ' avisos' : (season.oks ? season.oks + ' OK' : 'Vacio')}}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>